.side-bar {
  grid-area: side-bar;
  background-color: white;
}

.user-div {
  font-family: Optima, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  border-bottom: solid;
  /* font-size: */
}

ul {
  list-style: none;
  padding-left: 0px;
}

.button.is-primary.is-light.side-button {
  border: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #B7CFD8;
  margin: 3px;
  height: 35px;
  width: auto;
  font-size: 12;
  transition: 0.3s;
}

.side-button:hover {
  /* background-color: #ebfffc;
  cursor: pointer;*/
  box-shadow: 3px 3px 7px grey;
}

.favorite-side-bar {
  overflow: scroll;
  max-height: 30vh;
}

.bottom-side-bar {
  padding-top: 20px;
}

h2.greeting {
  font-style: italic;
  font-family: Brush Script Std, cursive;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: solid;
}

.favorite-list {
  font-family: Optima, sans-serif;
}
