.side-bar {
  grid-area: side-bar;
  background-color: white;
}
.user-div {
  padding-top: 100px;
  padding-bottom: 100px;
}
ul {
  list-style: none;
  padding-left: 0px;
}
.side-button {
  border-radius: 4px;
}
.side-button:hover {
  background-color: #ebfffc;
  cursor: pointer;
  box-shadow: 3px 3px 7px grey;
}
